.developers__reviews {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.developers__review {
  flex: 0 1 336px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 50px;

  max-width: 336px;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px;

  font-size: 16px;
  line-height: 1.5;
  color: #12100c;
}

.developers__review:not(:last-child) {
  margin-right: 24px;
}

.review__author {
  display: flex;
  margin-top: 16px;
}

.author__photo {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.author__photo img {
  object-fit: cover;
  border-radius: 50%;
}

.author__name {
  font-weight: 700;
  margin-bottom: 8px;
}

.author__position span {
  font-weight: 700;
}

.company {
  max-width: 1200px;
  margin: 0 auto 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.company__item {
  margin-right: 70px;
}

@media (max-width: 768px) {
  .developers__reviews {
    flex-wrap: wrap;
  }

  .developers__review:not(:last-child) {
    margin-right: 0;
  }

  .developers__review {
    font-size: 14px;
  }

  .developers__reviews {
    margin-bottom: 0;
  }

  .company {
    margin-bottom: 100px;
  }

  .company__item {
    margin-right: 20px;
  }
}

@media (max-width: 425px) {
  .developers__review {
    width: 100%;
    margin-bottom: 14px;
  }

  .company {
    margin-top: 30px;
  }
}
