.started__container-small {
  margin-bottom: 160px;
}

.started__content {
  display: flex;
  justify-content: space-between;
}

.content__connect,
.content__workspace {
  max-width: 642px;
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  padding: 56px 80px 86px;
}

.content__workspace {
  padding-left: 56px;
  padding-right: 56px;
}

.content__connect {
  margin-right: 26px;
}

.content__title {
  font-size: 32px;
  line-height: 1.25;
  color: #12100c;
  text-align: center;
  font-weight: 700;
}

.content__subtitle {
  font-size: 24px;
  line-height: 1.3333;
  text-align: center;
  margin-top: 8px;
}

.content__items {
  max-width: 262px;
  margin: 64px auto;
}

.content__item {
  display: flex;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 33px;
  align-items: center;
  text-align: left;
  border-radius: 12px;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: #fff;

  transition: opacity 0.3s;
}

.content__item:hover {
  opacity: 0.3;
}

.content__item:not(:last-child) {
  margin-bottom: 16px;
}

.content__item img {
  margin-right: 16px;
}

.content__item:nth-child(1) {
  background-color: #fc6d26;
}

.content__item:nth-child(2) {
  background-color: #000;
}

.content__item:nth-child(3) {
  background-color: #2684ff;
}

.content__subtitle span {
  background-color: #ffe4bc;
  border-radius: 12px;
  padding-left: 12px;
  padding-right: 12px;
}

.content__workspace {
  padding-left: 56px;
  padding-right: 56px;
}

.workspace__items {
  margin-top: 32px;
}

.workspace__item {
  display: flex;
  background-color: #f9f9f9;
  border-radius: 12px;
  height: 56px;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.workspace__item:not(:last-child) {
  margin-bottom: 12px;
}

.workspace__logo {
  display: flex;
  align-items: center;
}

.workspace__logo img {
  padding: 0px 16px;
}

.workspace__logo span {
  font-size: 20px;
  line-height: 1;
  /* vertical-align: center; */
}

.workspace__btn {
  background-color: #12100c;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  line-height: 1.14;
  padding: 7px 12px;
  margin-right: 12px;
  transition: all 0.3s;
}

.workspace__btn:hover {
  background-color: #ffae33;
  color: #12100c;
}

@media (max-width: 1024px) {
  .started__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__connect {
    width: 100%;
    padding: 26px 50px 56px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .content__workspace {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .content__title {
    font-size: 25px;
  }

  .content__subtitle {
    font-size: 19px;
  }

  .workspace__logo span {
    font-size: 15px;
  }

  .workspace__btn {
    font-size: 12px;
  }

  .started__container-small {
    margin-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .content__subtitle {
    font-size: 16px;
  }

  .content__connect {
    padding: 20px;
  }

  .content__items {
    margin: 20px auto;
  }

  .content__item {
    font-size: 12px;
  }

  .workspace {
    padding: 20px;
  }

  .started__container-small {
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .workspace__btn {
    min-width: 102px;
    width: 102px;
  }
}
