@import url("../css/header.css");
@import url("../css/ready.css");
@import url("../css/cicd.css");
@import url("../css/secure.css");
@import url("../css/developers.css");
@import url("../css/getstarted.css");
@import url("../css/footer.css");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(18, 16, 12, 0.7);
  background-color: #f5f3f4;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

[class*="__container-small"] {
  max-width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}
