@media (max-width: 768px) {
  .started__content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .content__title {
    font-size: 25px;
  }

  .content__subtitle {
    font-size: 19px;
  }

  .workspace__logo span {
    font-size: 15px;
  }

  .workspace__btn {
    font-size: 12px;
  }

  .content__connect {
    width: 100%;
    padding: 26px 50px 56px;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .content__workspace {
    width: 100%;
  }

  .started__container-small {
    margin-bottom: 100px;
  }
}

@media (max-width: 425px) {
  .content__subtitle {
    font-size: 16px;
  }

  .content__connect {
    padding: 20px;
  }

  .content__items {
    margin: 20px auto;
  }

  .content__item {
    font-size: 12px;
  }

  .workspace {
    padding: 20px;
  }

  .started__container-small {
    margin-bottom: 50px;
  }
}

@media (max-width: 375px) {
  .footer__items {
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .footer__item {
    margin-right: 50px;
  }
}

@media (max-width: 320px) {
  .workspace__btn {
    min-width: 102px;
    width: 102px;
  }
}
