.ready__container-small {
  padding-top: 52px;
}

.ready__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ready__content {
  max-width: 560px;
}

.ready__title {
  color: #12100c;
  line-height: 1.1;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 32px;
}

.ready__text {
  font-size: 23px;
  line-height: 1.4;
  margin-bottom: 48px;
}

.ready__block-content {
  display: flex;
}

.block-content__button {
  margin-right: 24px;
}

.block-content__button a {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #12100c;
  padding: 12px 10px;
  min-width: 160px;
  background-color: #ffae33;
  border-radius: 16px;

  transition: all 0.3s;
}
.block-content__button a:hover {
  color: #ffae33;
  background-color: #12100c;
}

block-content__text {
  line-height: 1.5;
}

.ready__icons {
  margin-left: 8px;
  margin-top: 18px;
}

.ready__icon:not(:last-child) {
  margin-right: 26px;
}

.ready__image {
  flex: 0 1 630px;
  height: 100%;
}

.ready__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ready__subtitle {
  margin-top: 176px;
  padding-bottom: 160px;

  font-size: 54px;
  line-height: 1.18;
  color: #12100c;
  font-weight: 700;

  text-align: center;
}

.ready__subtitle span {
  color: #999795;
  font-weight: 400;
  text-decoration-line: line-through;
}

@media (max-width: 768px) {
  .ready__body {
    flex-wrap: wrap;
    justify-content: center;
  }

  .ready__content {
    width: 100%;
    text-align: center;
  }

  .ready__block-content {
    justify-content: center;
  }

  .ready__title {
    font-size: 70px;
  }

  .ready__text {
    font-size: 19px;
  }

  .ready__subtitle {
    margin-top: 100px;
    font-size: 40px;
    padding-bottom: 0;
  }

  .ready__icons {
    margin-bottom: 30px;
  }
}

@media (max-width: 425px) {
  .ready__content {
    width: 100%;
    text-align: center;
  }

  .ready__title {
    font-size: 50px;
  }

  .ready__text {
    font-size: 16px;
  }

  .block-content__text {
    font-size: 12px;
  }

  .ready__block-content {
    justify-content: space-between;
  }

  .ready__image {
    width: 100%;
    margin-top: 30px;
  }

  .ready__subtitle {
    font-size: 30px;
  }

  .block-content__button a {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .ready__block-content {
    flex-direction: column;
  }

  .ready__text {
    margin-bottom: 30px;
  }

  .block-content__button {
    margin: 0;
    margin-bottom: 10px;
  }

  .block-content__button a {
    font-size: 14px;
  }
}
